SUPABASE_URL=https://swvxpnanjiqiuxqftdfs.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_7mncUxxhoC1mzGhXpJNdKQ_AJdeIMoM
SUPABASE_JWKS_URL=https://swvxpnanjiqiuxqftdfs.supabase.co/auth/v1/.well-known/jwks.json
